@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&display=swap');

html {
  @apply bg-[#0E0E10] text-gray-300 scroll-smooth;
}
$colors: #772ce8, #f3f381, #488648, #6767bc, black, #ffc0cb;
$repeat: 20;

// $randomColor: floor($rand * ((16777215) + 1));

.categoriestab {
  @apply relative mt-20;
  .inner {
    @apply px-8 space-y-4;
    h3 {
      @apply text-3xl md:text-6xl font-bold text-gray-200 capitalize;
    }
    p {
      @apply font-semibold text-sm md:text-xl text-gray-400;
    }
  }
}

.tags {
  @apply bg-[#363638] text-xs px-3 py-0.5 lowercase rounded-lg font-semibold;
}

.videopreview {
  transition: 0.5s;
  margin: 10px;
  box-shadow: 0 0 #772ce8;
  &:hover {
    box-shadow: -5px 5px #772ce8;
    transform: translate(5px, -5px);
  }

  //   .purple {
  //     box-shadow: 0 0 #772ce8;
  //   }
  //   .red {
  //     box-shadow: 0 0 #e82c2c;
  //   }
  //   .green {
  //     box-shadow: 0 0 #58e82c;
  //   }
  //   .black {
  //     box-shadow: 0 0 #000;
  //   }
}

// @for $i from 1 through $repeat {
//   ($colors)}n + #{$i} {

//   }
// }
